@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
    background-color: #131313;
    color: #e5e2e1;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface/80 backdrop-blur-md border border-secondary/10;
  }
  .card-panel {
    @apply bg-[#1E1E1E] rounded-2xl border border-secondary/5;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
